# Node modules
node_modules

# Logs
*.log

# Webpack bundle
server/public/bundle.js
server/public/bundle.js.map

# Generated css
server/public/styles.css
server/public/styles.css.map

# Jest coverage report
coverage/*

# Dotenv env settings
.env

.DS_Store

server/db/dev.sqlite3

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
