body{
  background-image: url("dotbg.png") !important;
}


.mainPage {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

@media screen and (min-width:502px){
.playground {
    width: 502px;
    height: 600px;
    margin:0 auto;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
  }
  .cover {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    z-index: 4;
    background-color: #000000;
    border: 1px solid rgb(255,255,255);
    border-radius: 3px;
    width: 502px;
    height: 600px;
  }
  .cell {
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
    position: relative;
    z-index: 1;
    border-radius: 2px;
  }
  .headerpannel {
    width:502px;
    height: 37px;
    position: relative;
    margin:0 auto;
    margin-top:4px;
    margin-bottom: 4px;
  }
}


@media screen and (max-width:502px){
  .playground {
      width: 100vw;
      height: 120vw;
      margin:0;
      background-color: #000000;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border-radius: 3px;
      min-width: 324px;
    }
    .cover {
      position: fixed;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      z-index: 4;
      background-color: #000000;
      border: 1px solid rgb(255,255,255);
      border-radius: 3px;
      width: 100vw;
      height: 120vw;
    }
    .cell {
      width: 10vw;
      height: 10vw;
      background-color: rgb(255,255,255);
      position: relative;
      z-index: 1;
      border-radius: 2px;
    }
    .headerpannel {
      width:100%;
      height: 37px;
      position: relative;
      margin:0;
      margin-top:4px;
      margin-bottom: 4px;
    }
  }
  .gamepadkey {
    width: 56px;
    height: 56px;
    z-index: 6;
  }