body{
  background-color: aqua !important;
}

.playground {
  width: 502px;
  height: 600px;
  margin:0 auto;
  margin-top: 4px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(255,255,255);
  border-radius: 2px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(255,255,255);
}

.headerpannel {
  width:500px;
  margin:0 auto;
  margin-top:4px;
}