body{
  background-color: aqua !important;
}

.playground {
  width: 502px;
  height: 600px;
  margin:0 auto;
  background-color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
}

.cover {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 4;
  background-color: red;
  border: 1px solid rgb(255,255,255);
  border-radius: 3px;
  width: 502px;
  height: 600px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(255,255,255);
  position: relative;
  z-index: 1;
  border-radius: 2px;
}

.mainPage {
  position: relative;
  overflow: hidden;
}

.headerpannel {
  width:502px;
  height: 37px;
  background-color: beige;
  position: relative;
  margin:0 auto;
  margin-top:4px;
  margin-bottom: 4px;
}